.explore-tab{
    height: "82px";
    display: flex;
    align-items: center;
    /* background-color: blue; */
    margin-top: 20px;
}

.heading1-div{
    margin-left:30px;
    display: flex;
    width:"40px";
    height: "60px";
    /* background-color: red;    */
}

.heading1{
    font-size: 25px;
    font-family: "Arial";
    font-weight: 600;
}

.box-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:200px;
    background-size:contain; 
    background-repeat: no-repeat;
    
    background-image:url('stock1.webp');
    border-radius: 5px;
}

.box{
    height: "60px";
    width: 100%;
    margin-top:30px;
    margin: 40px 25px;
    display: flex;
    /* background-color: pink; */
    color:black;
}
/* .shop-section{
    background-color: purple;
    color:white;
    height: 360px;

} */
.box-item{
    width:100%;
    display: flex;
    align-items: center;
    /* background-color: red; */

}
.box-desc{
    /* background-color: yellow; */
    font-size: 18px;
    font-family: "Arial";
    margin-left: 30px;
}
.box-price{
    margin-top:30px;
    /* background-color: yellowgreen; */
}
